@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier:wght@300;400;700&display=swap");

:root {
  background-color: #FFFFFF;
  font-size: 62.5%;
}



* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  color: #434662;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  color: #434662;
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* UTILITIES */
 
iframe {
  width: 100%;
  height: 30em;
  border: 1px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* BUTTONS */
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  color: #fbfbfb;
  border-radius: 0;
  margin-bottom: 1rem;
  text-decoration: none;
  background-color: #7a3884;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(237, 201, 73, 0.5);
  transform: translateY(-0.1rem) scale(1.025);
  transition: transform 150ms;
  background-color: #ab8b9b;
}

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(237, 201, 73, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(237, 201, 73, 0.25);
  transform: translateY(-0.1rem) scale(1.025);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #7a3884;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #7a3884;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.2rem;
  background-color: #7a3884;
  width: 0%;
  margin-top: 0.1rem;
  margin-left: 0.15rem;
}

/* LOADER */
#loader {
  border: 1.6rem solid #7a3884;;
  border-radius: 50%;
  border-top: 1.6rem solid white;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}